
:root {
    --footer-height: 80px;
}

footer {
    display: flex;
    justify-content: space-around;
    margin: 0;
    height: var(--footer-height);
    width: 100%;
    background: var(--color-primary);
    color: white;
    z-index: 800;
}
