:root {
    --header-height: 100px;
}

header.default-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-height);
    width: 100%;
    background: white;
}

header.home-header {
    position: absolute;
    top: 5vh;
    left: 0;
    height: var(--header-height);
    width: 52%;
    background: white;
}

nav {
    height: inherit;
    line-height: var(--header-height);
    width: 100%;
    padding: 0 3rem;
}

header.default-header ul {
    display: grid;
    height: inherit;
    grid-template-columns: 1fr 8fr repeat(3, 1fr);
    margin: 0;
    padding: 0;
}

header.home-header ul {
    display: grid;
    height: inherit;
    grid-template-columns: 1fr 1fr repeat(2, 1fr);
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    height: inherit;
    margin: 0;
    padding: 0;
    text-align: center;
}

li.active {
    font-weight: 700;
}

header a,
header a:hover,
header a:focus,
header a:active,
header a:visited {
    text-decoration: none;
}

header a {
    text-decoration: none;
    color: var(--color-charcoal);
    font-size: var(--font-body);
}

.header-logo {
    display: inline-block;
    height: inherit;
    margin: 0;
    padding: 0;
    text-align: center;
}

.logo {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 3rem;
    height: 3rem;
}

.logo-shadow {
    opacity: 0.025;
    transform: scale(3.5) translate(-13px, 7px) !important;
}