
html {
    --header-height: 5.625rem;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-height);
    width: 100%;
    background: var(--color-light);
}

nav {
    height: inherit;
    line-height: var(--header-height);
    width: 100%;
    padding: 0 3rem;
}

ul {
    display: grid;
    height: inherit;
    grid-template-columns: repeat(3, 1fr) 8fr repeat(3, 1fr);
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    height: inherit;
    margin: 0;
    padding: 0;
    text-align: center;
}

li.active {
    font-weight: 700;
}

header a,
header a:hover,
header a:focus,
header a:active,
header a:visited {
    text-decoration: none;
}

header a {
    text-decoration: none;
    color: var(--color-charcoal);
    font-size: var(--font-body);
}

.header-logo {
    display: inline-block;
    height: inherit;
    margin: 0;
    padding: 0;
    text-align: center;
    padding: 0;
}

.header-logo img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 3.5rem;
    height: 3.5rem;
}
