
#hero {
    height: 75vh;
    color: var(--color-light);
}

#hero img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -2;
}

#hero h1,
#hero h2 {
    margin: auto;
    text-align: center;
    height: 5rem;
    line-height: 5rem;
    font-weight: 600;
    font-size: 5rem;
}

#hero h2 {
    margin: auto;
    text-align: center;
    height: 3rem;
    line-height: 3rem;
    font-weight: 100;
    font-size: 2rem;
}

.hero-header {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
