
#hero {
    height: 50vh;
    color: var(--color-light);
    background-image: url('/assets/index/hero.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

#hero h1,
#hero h2 {
    margin: auto;
    text-align: center;
    height: 5rem;
    line-height: 5rem;
    font-weight: 600;
    font-size: 5rem;
}

#hero h2 {
    height: 3rem;
    line-height: 3rem;
    font-weight: 100;
    font-size: 2rem;
}

.hero-header {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.page-section {
    width: 50%;
    margin: 12rem auto;
    background: var(--color-light);
}
