
:root {
    --color-charcoal: #021424;
    --color-charcoal-medium: #3F4C58;
    --color-charcoal-light: #6C767F;
    --color-wild-sand: #F5F5F5;
    --color-orchid: #E045D0;
    --color-tango: #E87B3E;
    --color-viola: #671DFD;
    --color-primary-gradient: linear-gradient(
        158deg, 
        var(--color-viola) 0%, 
        var(--color-orchid) 50%, 
        var(--color-tango) 100%
    );
    --color-dark: var(--color-charcoal);
    --color-light: white;

    --font-title-1: 4.25rem;
    --font-title-2: 2.625rem;
    --font-title-3: 1.625rem;
    --font-subtitle: 1.625rem;
    --font-body: 1rem;
    --font-body-small: 0.75rem;
    --font-button: 0.875rem;
    --font-pretitle: 0.625rem;
}

* {
    box-sizing: border-box;
    font-family: "Catamaran", sans-serif;
}

html, body {
    font-size: 16px;
    line-height: 1rem;
    font-weight: 400;
    outline: none;
    padding: 0;
    margin: 0;
}

main {
    margin-top: var(--header-height);
}

h1 {
    font-size: var(--font-title-1);
    height: var(--font-title-1);
    line-height: var(--font-title-1);
    font-weight: 700;
}

h2 {
    font-size: var(--font-title-2);
    height: var(--font-title-2);
    line-height: var(--font-title-2);
    font-weight: 700;
}

h3 {
    font-size: var(--font-title-3);
    height: var(--font-title-3);
    line-height: var(--font-title-3);
    font-weight: 700;
}

div.subtitle {
    display: inline;
    font-size: var(--font-subtitle);
    height: var(--font-subtitle);
    line-height: var(--font-subtitle);
}

small {
    font-size: var(--font-body-small);
    height: var(--font-small);
    line-height: var(--font-small);
    line-height: 140%;
    letter-spacing: 0.5px;
    font-weight: 300;
}

button {
    font-size: var(--font-button);
    height: var(--font-button);
    line-height: var(--font-button);
    letter-spacing: 0.5px;
    padding: 0.5rem 2rem;
    width: 10rem;
    height: 3rem;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

div.pretitle {
    display: inline;
    font-size: var(--font-pretitle);
    height: var(--font-pretitle);
    line-height: var(--font-pretitle);
    font-weight: 600;
    letter-spacing: 0.5px;
}

b, strong {
    font-weight: 700;
}

a,
a:hover,
a:focus,
a:active,
a:visited {
    text-decoration: none;
}

a {
    color: var(--color-viola);
    cursor: pointer;
}

a:hover {
    text-decoration: dotted underline;
}

.float-hover,
.float-hover-right,
.float-hover-scale {
    transition: transform 0.2s ease;
}

.float-hover:hover {
    transform: translateY(-0.1rem);
}

.float-hover-right:hover {
    transform: translateX(0.1rem);
}

.float-hover-scale:hover {
    transform: scale(1.05);
}

p, a, span {
    font-size: var(--font-body);
    line-height: 140%;
    letter-spacing: 0.5px;
}

button.btn-primary {
    background-color: var(--color-viola);
    color: var(--color-wild-sand);
}

button.btn-secondary {
    background-color: white;
    color: var(--color-charcoal-medium);
    border: 1px solid var(--color-charcoal-medium);
}

button.btn-secondary:hover {
    background-color: var(--color-wild-sand);
}
